.cancelButton{
    background-color: #6c757d !important;
}

.muteIcon {
    width: 3em;
    height: 3em;
}

.modal-content {
    line-height: var(--font-size-5)!important;
}

@media screen and (min-width: 1200px) {
    .muteIcon {
        width: 5em;
        height: 5em;
    }
}