.cancelButton{
    background-color: #6c757d !important;
}

.modal-content {
    line-height: var(--font-size-5)!important;
}

.cameraNameHeading {
    width: 49vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cameraButton {
    width: 25vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.presetButton {
    width: 19vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}