.o-pad {
  position: relative;
  background:white;
  width: 19.25vw;
  height: 19.25vw;
  border-radius:50%;
  border: 1px solid  #dee2e6;
  overflow:hidden;
  
}
.o-pad div {
  display:block;
  position: absolute;
  width: 50%;
  height: 50%;
  text-align: center;  
}

.o-pad div:active{
  background-color: var(--bs-black);
}

.o-pad i {
  transform: rotate(-45deg);
  position: relative;
  top: 30%;
  left: 4%; 
}

.o-pad i:active {
  color: white;
}

.up {
  top: -10%;
  left: 25%; 
  transform: rotate(45deg);

  &:active:after {
    border-bottom-color: #333;
    
  }
  &:active{
      background-color: #dee2e6;
  }
}

.down {
  top: 60%;
  left: 25%; 
  transform: rotate(45deg);

  &:active:after {
    border-top-color: #333;
  }
  &:active{
      background-color: #dee2e6;
  }
} 

.left {
  top: 25%;
  left: -10%;  
  transform: rotate(45deg);
  border: 1px solid #dee2e6;
  border-bottom: 0;
  border-left: 0;
  z-index: 1;

  &:active:after {
    border-right-color:black;
  }
  &:active{
      background-color: #dee2e6;
  }
}  
  
.right {
  top: 25%;
  right: -10.25%;    
  transform: rotate(45deg);
  
  border: 1px solid #dee2e6;
  border-top: 0;
  border-right: 0;
  z-index: 1;
  &:active:after {
    border-left-color: #333;
  }
  &:active{
      background-color: #dee2e6;
  }
} 
.center-button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: var(--font-size-4) !important;
  width: var(--font-size-4) !important;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
} 
.center-button i {
  transform: rotate(0);
  top: -10%;
  left: 0;
  
}

.center-button i:active {
  color: var(--bs-info)
}
@media screen and (min-width: 1200px) {
  .center-button{
    height: var(--font-size-5) !important;
    width: var(--font-size-5) !important;
    line-height: 0;
  }
}




   
