   .square {
    width: 3vw;
    height: 3vw;
    margin: 2px;
    display: inline-block;
    background-color: var(--bs-gray-400); /* Default color for unfilled squares */
  }
  
  .square.filled {
    background-color: var(--bs-success); /* Default color for filled squares */
  }
  
  .square.filled:nth-child(-n + 12) {
    background-color: var(--bs-success); /* Green for the first 12 filled squares */
  }
  
  .square.filled:nth-child(n + 13):nth-child(-n + 17) {
    background-color: var(--bs-warning); /* Yellow for the next 5 filled squares */
  }
  
  .square.filled:nth-child(n + 18) {
    background-color: var(--bs-danger); /* Red for the last 3 filled squares */
  }

  .volumeButton {
    height: 7vw;
    width: 7vw;
  }

  