/* For input messages */

.inputMessageArea {
    min-height: 50vh;
}

/* For round icons in display area */
.displayAreaRoundIcon {
    height: 2.75em;
    width: 2.75em;
    background-color: #dee2e6;
}

.displayAreaRoundIcon i {
    font-size: 1.75em;
}