// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;300;400;700;900&display=swap');

// Bootstrap Variable Overrides
$font-size-base: 2rem;
$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;
$purple: #654C94;
$primary: $purple;
$secondary: #E2DDEC;
$font-family-sans-serif: "Roboto Flex", sans-serif;
$grid-gutter-width: 32px;
$black: #342F2E;
$red: #EF553F;
$yellow: #FFC520;
$green: #58B947;
$cyan: #007FA4;

//Change Switch Colors 
$form-switch-color: $cyan;
$form-switch-focus-color: $cyan;
$form-switch-checked-color: $cyan;


// Import Bootstrap
@import '~bootstrap/scss/bootstrap.scss';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Generate BG utility classes for all colors
@each $color, $value in $colors {
    .bg-#{$color} {
        background-color: $value !important;
    }
}

// Generate BG shades for all grays
@each $key, $value in $grays {
    .bg-gray-#{$key} {
        background-color: $value !important;
    }
}

// Custom Button
.btn-gray {
    --bs-btn-font-weight: 500;
    --bs-btn-color: var(--bs-black);
    --bs-btn-bg: var(--bs-gray-300);
    --bs-btn-border-color: var(--bs-gray-300);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-black);
    --bs-btn-hover-bg: var(--bs-gray-300);
    --bs-btn-hover-border-color: var(--bs-gray-300);
    --bs-btn-focus-shadow-rgb: var(--bs-gray-300-rgb);
    --bs-btn-active-color: var(--bs-black);
    --bs-btn-active-bg: #{shade-color($gray-300, 50%)};
    --bs-btn-active-border-color: #{shade-color($gray-300, 50%)};
  }

// Import Bootstrap Icons
@import '~bootstrap-icons/font/bootstrap-icons.scss'